<div class="centered-box">
    <div class="player-profile-container">
        <div class="sidebar">
            <h1 class="title has-text-black">
                Roster
            </h1>

            <div class="players-list">
                <a class="players-list-item" *ngFor="let roster of rosters" [routerLink]="['/queryThree', roster._id]">
                    <p>
                        {{roster.name.first}} {{roster.name.last}}
                    </p>
                </a>
            </div>

            <div class="field is-grouped">
                <p class="button-location">
                    <a class="button is-white" routerLink="/">
                        Main Menu
                    </a>
                </p>
            </div>
        </div>

        <div class="player-profile">
            <h1 class="title has-text-black">
                <p>
                    This query returns all players with a least 5 years
                </p>
                <p>
                    of experience in the NBA/ABA prior to this season in
                </p>
                <p>
                    ascending order (ie. least to most experienced).
                </p>
            </h1>
            <div class="view-profile-container" *ngIf="profiles">
                <div class="line-one has-text-weight-bold">
                    {{profiles.name.first}} {{profiles.name.last}}
                </div>
                <div class="line-config">
                    <p>
                        Birth Date: {{profiles.birth}} &nbsp;||&nbsp; Exp: {{profiles.experience}} Years &nbsp;||&nbsp;
                        Age: {{profiles.age}}
                    </p>
                </div>
                <div class="line-config">
                    <p>
                        Height: {{profiles.characteristics.height}} &nbsp;||&nbsp; Weight:
                        {{profiles.characteristics.weight}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>