<div class="centered-box">
    <div class="player-profile-container">
        <div class="sidebar">
            <h1 class="title has-text-black">
                Roster
            </h1>

            <div class="players-list">
                <a class="players-list-item" *ngFor="let roster of rosters" [routerLink]="['/queryFive', roster._id]">
                    <p>
                        {{roster.name.first}} {{roster.name.last}}
                    </p>
                </a>
            </div>

            <div class="field is-grouped">
                <p class="button-location">
                    <a class="button is-white" routerLink="/">
                        Main Menu
                    </a>
                </p>
            </div>
        </div>

        <div class="player-profile">
            <h1 class="title has-text-black">
                <p>
                    This query returns each player’s average personal fouls
                </p>
                <p>
                    per game in descending order. Additionally, it only includes
                </p>
                <p>
                    the players in center “C” or power forward “PF” positions and
                </p>
                <p>
                    does not include Giannis Antetokounmpo.
                </p>


            </h1>
            <div class="view-profile-container" *ngIf="profiles">
                <div class="line-one has-text-weight-bold">
                    {{profiles.name.first}} {{profiles.name.last}}
                </div>
                <div class="line-config">
                    <p>
                        Position: {{profiles.position}} &nbsp;||&nbsp; Fouls: {{profiles.floor.fouls}}
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>