<div class="centered-box">
    <div class="welcome-box">
        <div class="welcome-text">
            <h1 class="title has-text-black has-text-centered is-size-2">
                Welcome to the 2018-19 Milwaukee Bucks Roster and Stats Reference Pages!
            </h1>
        </div>

        <div class="button-location">
            <button class="button is-white is-large" routerLink="/player-profile" >
                Player Stats Page
            </button>
        </div>

        <div class="field is-grouped">
            <p class="control-button">
                <a class="button is-white is-medium" routerLink="/queryOne">
                    Query 1
                </a>
            </p>
            <p class="control-button">
                <a class="button is-white is-medium" routerLink="/queryTwo">
                    Query 2
                </a>
            </p>
            <p class="control-button">
                <a class="button is-white is-medium" routerLink="/queryThree">
                    Query 3
                </a>
            </p>
            <p class="control-button">
                <a class="button is-white is-medium" routerLink="/queryFour">
                    Query 4
                </a>
            </p>
            <p class="control-button">
                <a class="button is-white is-medium" routerLink="/queryFive">
                    Query 5
                </a>
            </p>
        </div>

    </div>
</div>