<div class="centered-box">
    <div class="create-player-profile-container">
        <div class="player-profile">
            <h1 class="title has-text-black">
                Update Player Profile For:
            </h1>
            <p class="name has-text-black is-size-3" *ngIf="profiles">
                {{profiles.name.first}} {{profiles.name.last}}
            </p>
            <p class="help is-size-5" *ngIf="success">
                {{success}}
            </p>
            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input #first class="input" type="text" placeholder="First Name">
                        </div>
                    </div>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input #last class="input" type="text" placeholder="Last Name">
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input #birth class="input" type="text" placeholder="Birth Date: YYYY-MM-DD">
                        </div>
                    </div>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input #age class="input" type="text" placeholder="Age">
                        </div>
                    </div>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input #height class="input" type="text" placeholder="Height: Feet-Inches">
                        </div>
                    </div>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input #weight class="input" type="text" placeholder="Weight: Lbs">
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input #position class="input" type="text" placeholder="Player Position - XX">
                        </div>
                    </div>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input #experience class="input" type="text" placeholder="Experience in Years">
                        </div>
                    </div>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input #uniformNumber class="input" type="text" placeholder="Uniform Number">
                        </div>
                    </div>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input #teamRankOverall class="input" type="text" placeholder="Team Rank Overall">
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input #gamesPlayed class="input" type="text" placeholder="Games Played">
                        </div>
                    </div>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input #gamesStarted class="input" type="text" placeholder="Games Started">
                        </div>
                    </div>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input #minutesPlayedPerGame class="input" type="text"
                                placeholder="Minutes Played Per Game">
                        </div>
                    </div>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input #overallGoalsMade class="input" type="text" placeholder="Overall Field Goals Made">
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input #overallGoalAttempts class="input" type="text"
                                placeholder="Overall Field Goal Attempts">
                        </div>
                    </div>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input #overallGoalPercentage class="input" type="text"
                                placeholder="Overall Field Goal Percent">
                        </div>
                    </div>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input #averagePointsPerGame class="input" type="text" placeholder="Points Per Game">
                        </div>
                    </div>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input #twoPointMade class="input" type="text" placeholder="Two Point Made">
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input #twoPointAttempts class="input" type="text" placeholder="Two Point Attempts">
                        </div>
                    </div>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input #twoPointPercentage class="input" type="text" placeholder="Two Point Percentage">
                        </div>
                    </div>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input #threePointMade class="input" type="text" placeholder="Three Point Made">
                        </div>
                    </div>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input #threePointAttempts class="input" type="text" placeholder="Three Point Attempts">
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input #threePointPercentage class="input" type="text" placeholder="Three Point Percentage">
                        </div>
                    </div>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input #freePointMade class="input" type="text" placeholder="Free Points Made">
                        </div>
                    </div>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input #freePointAttempts class="input" type="text" placeholder="Free Points Attempts">
                        </div>
                    </div>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input #freePointPercentage class="input" type="text" placeholder="Free Point Percent">
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input #reboundsOffense class="input" type="text" placeholder="Rebounds Offense">
                        </div>
                    </div>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input #reboundsDefense class="input" type="text" placeholder="Rebounds Defense">
                        </div>
                    </div>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input #totalReboundsPerGame class="input" type="text" placeholder="Total Rebounds PG">
                        </div>
                    </div>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input #assists class="input" type="text" placeholder="Assists Avg">
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input #steals class="input" type="text" placeholder="Steals Avg">
                        </div>
                    </div>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input #blocks class="input" type="text" placeholder="Blocks Avg">
                        </div>
                    </div>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input #turnovers class="input" type="text" placeholder="Turnovers Avg">
                        </div>
                    </div>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input #fouls class="input" type="text" placeholder="Fouls Avg">
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-grouped">
                <p class="control-button">
                    <a class="button is-light" routerLink="/player-profile">
                        Home/Done
                    </a>
                </p>
                <p class="control-button">
                    <a class="button is-success is-medium" (click)="updatePlayerProfile(
                        first.value, last.value, birth.value, age.value, height.value, weight.value, 
                        position.value, experience.value, uniformNumber.value, teamRankOverall.value, gamesPlayed.value,
                        gamesStarted.value, minutesPlayedPerGame.value, overallGoalsMade.value, overallGoalAttempts.value,
                        overallGoalPercentage.value, averagePointsPerGame.value, twoPointMade.value, twoPointAttempts.value,
                        twoPointPercentage.value, threePointMade.value, threePointAttempts.value, threePointPercentage.value,
                        freePointMade.value, freePointAttempts.value, freePointPercentage.value, reboundsOffense.value,
                        reboundsDefense.value, totalReboundsPerGame.value, assists.value, steals.value, blocks.value, 
                        turnovers.value, fouls.value
                    )" *ngIf="show">
                        Update
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>