<div class="centered-box">
    <div class="create-player-profile-container">
        <div class="player-profile">
            <h1 class="title has-text-black">
                Create Player Profile
            </h1>
            <p class="help is-size-5" *ngIf="message">
                All fields are required when creating a new profile!
            </p>
            <p class="help is-size-5" *ngIf="success">
                {{success}}
            </p>

            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input #first class="input" type="text" placeholder="First Name">
                        </div>
                    </div>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input #last class="input" type="text" placeholder="Last Name">
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input #birth class="input" type="text" placeholder="Birth Date: YYYY-MM-DD">
                        </div>
                    </div>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input #age class="input" type="text" placeholder="Age">
                        </div>
                    </div>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input #height class="input" type="text" placeholder="Height: Feet-Inches">
                        </div>
                    </div>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input #weight class="input" type="text" placeholder="Weight: Lbs">
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input #position class="input" type="text" placeholder="Player Position - XX">
                        </div>
                    </div>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input #experience class="input" type="text" placeholder="Experience in Years">
                        </div>
                    </div>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input #uniformNumber class="input" type="text" placeholder="Uniform Number">
                        </div>
                    </div>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input #teamRankOverall class="input" type="text" placeholder="Team Rank Overall">
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input #gamesPlayed class="input" type="text" placeholder="Games Played">
                        </div>
                    </div>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input #gamesStarted class="input" type="text" placeholder="Games Started">
                        </div>
                    </div>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input #minutesPlayedPerGame class="input" type="text" placeholder="Minutes Played Per Game">
                        </div>
                    </div>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input #overallGoalsMade class="input" type="text" placeholder="Overall Field Goals Made">
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input #overallGoalAttempts class="input" type="text" placeholder="Overall Field Goal Attempts">
                        </div>
                    </div>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input #overallGoalPercentage class="input" type="text" placeholder="Overall Field Goal Percent">
                        </div>
                    </div>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input #averagePointsPerGame class="input" type="text" placeholder="Points Per Game">
                        </div>
                    </div>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input #twoPointMade class="input" type="text" placeholder="Two Point Made">
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="text" placeholder="First Name">
                        </div>
                    </div>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="text" placeholder="Last Name">
                        </div>
                    </div>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="text" placeholder="First Name">
                        </div>
                    </div>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="text" placeholder="Last Name">
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="text" placeholder="First Name">
                        </div>
                    </div>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="text" placeholder="Last Name">
                        </div>
                    </div>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="text" placeholder="First Name">
                        </div>
                    </div>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="text" placeholder="Last Name">
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="text" placeholder="First Name">
                        </div>
                    </div>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="text" placeholder="Last Name">
                        </div>
                    </div>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="text" placeholder="First Name">
                        </div>
                    </div>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="text" placeholder="Last Name">
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="text" placeholder="First Name">
                        </div>
                    </div>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="text" placeholder="Last Name">
                        </div>
                    </div>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="text" placeholder="First Name">
                        </div>
                    </div>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="text" placeholder="Last Name">
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-grouped">
                <p class="control-button">
                    <a class="button is-light" routerLink="/player-profile">
                        Home/Done
                    </a>
                </p>
                <p class="control-button">
                    <a class="button is-success is-medium" (click)="createPlayerProfile(
                        first.value, last.value, birth.value, age.value, height.value, weight.value, 
                        position.value, experience.value, uniformNumber.value, teamRankOverall.value, gamesPlayed.value,
                        gamesStarted.value, minutesPlayedPerGame.value, overallGoalsMade.value, overallGoalAttempts.value,
                        overallGoalPercentage.value, averagePointsPerGame.value, twoPointMade.value
                    )" *ngIf="show">
                        Create
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>