<div class="centered-box">
    <div class="player-profile-container">
        <div class="sidebar">
            <h1 class="title has-text-black">
                Roster
            </h1>

            <div class="players-list">
                <a class="players-list-item" *ngFor="let roster of rosters" [routerLink]="['/queryTwo', roster._id]">
                    <p>
                        {{roster.name.first}} {{roster.name.last}}
                    </p>
                </a>
            </div>

            <div class="field is-grouped">
                <p class="button-location">
                    <a class="button is-white" routerLink="/">
                        Main Menu
                    </a>
                </p>
            </div>
        </div>

        <div class="player-profile">
            <h1 class="title has-text-black">
                <p>
                    This query returns the three players with the worst free
                </p>
                <p>
                    throw average from worst to best and restricts the stats
                </p>
                <p>
                    returned to a player’s free throws made, attempts, and percentage only.
                </p>
            </h1>
            <div class="view-profile-container" *ngIf="profiles">
                <div class="line-one has-text-weight-bold">
                    #{{profiles.uniformNumber}} {{profiles.name.first}} {{profiles.name.last}}
                </div>
                
                <div class="line-config">
                    <p>
                        Overall Free Points - Made: {{profiles.freeThrow.freePointMade}} &nbsp;||&nbsp; Attempts:
                        {{profiles.freeThrow.freePointAttempts}} &nbsp;||&nbsp; Avg:
                        {{profiles.freeThrow.freePointPercentage}}
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>